/*** Generic items ***/

.ck-code {
	position: relative;
}
.ck-outline {
	border: 1px dashed #999;
	cursor: pointer;
	display: inline-block;
	margin: -1px 0 0 0;
	padding: 0 3px;
}


/*** Control: optionList ***/

/**
 * z-index layering:
 *
 *  3 - .ck-list-options
 *  2 - .ck-control-optionList.active
 *  1 - .ck-list-blanket
 */

.ck-control-optionList {
	position: relative;
}
.ck-control-optionList.active {
	z-index: 2;
}
.ck-list-blanket {
	background: rgba(0, 0, 0, 0.25);
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.ck-list-options {
	cursor: pointer;
	display: none;
	margin: 0;
	border: 1px dashed #999;
	padding: 0;
	position: absolute;
	list-style: none;
	z-index: 3;
}
.ck-list-options.ck-default-bg {
	background: #f5f5f5;
}
.ck-list-blanket.active,
.ck-list-options.active {
	display: block;
}
.ck-list-options li {
	margin: 0;
	padding: 0 3px;
}
.ck-list-options li:hover {
	background: #fff;
}
.ck-list-options li:empty::before,
.ck-control-optionList:empty::before {
	content: '<default>';
	color: #999;
	cursor: pointer;
	font-style: italic;
}


/*** Control: toggle(Auto|Manual) ***/

.ck-control-toggle-manual {
	cursor: pointer;
	position: relative;
}
.ck-control-toggle-manual:hover {
	background-color: #fff;
}
.ck-control-toggle:empty::before {
	content: ' ';
}
.ck-control-toggle-manual:empty::before {
	content: attr(data-hidden-text);
	color: #999;
	cursor: pointer;
	font-style: italic;
}
.ck-control-toggle-manual:hover::after {
	content: 'hide';
	background-color: #fff;
	border: 1px dashed #999;
	border-bottom-width: 0;
	color: #33f;
	font-family: sans-serif;
	font-size: 0.9em;
	font-style: italic;
	left: -1px;
	padding: 0 4px 0 3px;
	position: absolute;
	top: -95%;
}
.ck-control-toggle-manual:empty:hover::after {
	content: 'show';
}


/*** Control: clone ***/

.ck-control-clone {
	cursor: pointer;
	position: relative;
}
.ck-control-clone:hover {
	background-color: #fff;
}
.ck-control-clone::after {
	content: '+';
	color: #33f;
	font-family: sans-serif;
	font-size: 0.9em;
	padding: 0 2px 0 4px;
}
.ck-control-clone:hover::after {
	content: 'clone';
}
