/* http://clrs.cc/ */
.bg-aqua{background-color:#7FDBFF}
.bg-black{background-color:#111}
.bg-blue{background-color:#0074D9}
.bg-fuchsia{background-color:#F012BE}
.bg-green{background-color:#2ECC40}
.bg-lime{background-color:#01FF70}
.bg-maroon{background-color:#85144B}
.bg-navy{background-color:#001F3F}
.bg-olive{background-color:#3D9970}
.bg-orange{background-color:#FF851B}
.bg-purple{background-color:#B10DC9}
.bg-red{background-color:#FF4136}
.bg-silver{background-color:#ddd}
.bg-gray{background-color:#aaa}
.bg-teal{background-color:#39CCCC}
.bg-white{background-color:#fff}
.bg-yellow{background-color:#FFDC00}
.aqua{color:#7FDBFF}
.blue{color:#0074D9}
.navy{color:#001F3F}
.teal{color:#39CCCC}
.green{color:#2ECC40}
.olive{color:#3D9970}
.lime{color:#01FF70}
.maroon{color:#85144B}
.orange{color:#FF851B}
.purple{color:#B10DC9}
.red{color:#FF4136}
.yellow{color:#FFDC00}
.fuchsia{color:#F012BE}
.silver{color:#ddd}
.gray{color:#aaa}
.white{color:#fff}
.black{color:#111}

/* UI elements */

html {
	min-height: 101%;
}
body {
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	width: 1000px;
}
h2:first-child {
	margin-top: 2em;
}
button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 7px 10px;
}
button:hover {
	cursor: pointer;
	border-color: #666;
}
button.bg-black,
button.bg-blue,
button.bg-fuchsia,
button.bg-maroon,
button.bg-navy,
button.bg-olive,
button.bg-purple,
button.bg-red,
button.bg-gray
{
	color: #fff;
}
.split-container {
	font-size: 0;
}
button.split-main {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
button.split-more {
	border-left-width: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding-left: 18px;
	position: relative;
	text-indent: -9999em;
}
button.split-more:hover {
	border-left-width: 1px;
	margin-left: -1px;
}
button.split-more:after {
	border: 5px solid transparent;
	border-top-color: #000;
	content: '';
	height: 0;
	left: 50%;
	margin: -2px 0 0 -5px;
	position: absolute;
	top: 50%;
	width: 0;
}

.icon {
	color: #333;
	display: inline-block;
	height: 16px;
	margin-right: 3px;
	position: relative;
	vertical-align: bottom;
	width: 16px;
}
.icon-play:before {
	border: 2px solid #333;
	border-radius: 50%;
	box-sizing: border-box;
	content: '';
	display: block;
	height: 16px;
	width: 16px;
}
.icon-play:after {
	content: '▶';
	font-size: 10px;
	left: 4px;
	position: absolute;
	top: 2px;
}
.blob-wrapper {
	font-size: 0;
	margin-top: 7px;
}
.blob {
	background-color: #ff851a;
	border: 1px solid #aa5409;
	box-sizing: border-box;
	display: inline-block;
	font-size: 12px;
	height: 20px;
	line-height: 1.66667;
	padding: 0 4px;
}
.blob:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.blob:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.blob + .blob {
	border-left-width: 0;
}

pre {
	color: #730;
}


/* Chekhov-related */

.pg-example {
	border: 1px solid #ccc;
	border-radius: 3px;
	display: table;
	margin: 10px 0 20px 0;
	position: relative;
}
.ck-output, .pg-code {
	display: table-cell;
	padding: 20px;
}
.ck-output {
	width: 200px;
}
.pg-code pre {
	background-color: #f5f5f5;
	border-radius: 5px;
	margin: 0;
	overflow: visible;
	position: relative;
}
.pg-code pre code {
	display: block;
	min-width: 400px;
	padding: 20px;
}


/** Code highlighting - yet to be ported over from POC **/

.pg-code pre .tag.poc-highlight,
.pg-code pre .text.poc-highlight {
	background-color: #ff6;
}
.poc-highlight-overlay {
	background-color: #ff9; /* 8ab3bf */
	opacity: 0.5;
	position: absolute;
	z-index: 10000;
}
